.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mt40{margin-top:40px;}
.mt50{margin-top:50px;}
.mt60{margin-top:60px;}
.mt70{margin-top:70px;}
.mt80{margin-top:80px;}
.mt90{margin-top:90px;}
.mt100{margin-top:100px;}
.mt120{margin-top:120px;}
.mt130{margin-top:130px;}
.mt140{margin-top:140px;}
.mt150{margin-top:150px;}
.mt160{margin-top:160px;}
.mt170{margin-top:170px;}
.mt180{margin-top:180px;}
.mt190{margin-top:190px;}
.mt200{margin-top:200px;}

.mb10{margin-bottom:10px;}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:30px;}
.mb40{margin-bottom:40px;}
.mb50{margin-bottom:50px;}
.mb60{margin-bottom:60px;}
.mb70{margin-bottom:70px;}
.mb80{margin-bottom:80px;}
.mb90{margin-bottom:90px;}
.mb100{margin-bottom:100px;}
.mb120{margin-bottom:120px;}
.mb130{margin-bottom:130px;}
.mb140{margin-bottom:140px;}
.mb150{margin-bottom:150px;}
.mb160{margin-bottom:160px;}
.mb170{margin-bottom:170px;}
.mb180{margin-bottom:180px;}
.mb190{margin-bottom:190px;}
.mb200{margin-bottom:200px;}


.ml10{margin-left:10px;}
.ml20{margin-left:20px;}
.ml30{margin-left:30px;}
.ml40{margin-left:40px;}
.ml50{margin-left:50px;}
.ml60{margin-left:60px;}
.ml70{margin-left:70px;}
.ml80{margin-left:80px;}
.ml90{margin-left:90px;}
.ml100{margin-left:100px;}
.ml120{margin-left:120px;}
.ml130{margin-left:130px;}
.ml140{margin-left:140px;}
.ml150{margin-left:150px;}
.ml160{margin-left:160px;}
.ml170{margin-left:170px;}
.ml180{margin-left:180px;}
.ml190{margin-left:190px;}
.ml200{margin-left:200px;}


.mr10{margin-right:10px;}
.mr20{margin-right:20px;}
.mr30{margin-right:30px;}
.mr40{margin-right:40px;}
.mr50{margin-right:50px;}
.mr60{margin-right:60px;}
.mr70{margin-right:70px;}
.mr80{margin-right:80px;}
.mr90{margin-right:90px;}
.mr100{margin-right:100px;}
.mr120{margin-right:120px;}
.mr130{margin-right:130px;}
.mr140{margin-right:140px;}
.mr150{margin-right:150px;}
.mr160{margin-right:160px;}
.mr170{margin-right:170px;}
.mr180{margin-right:180px;}
.mr190{margin-right:190px;}
.mr200{margin-right:200px;}

.pt10{padding-top:10px;}
.pt20{padding-top:20px;}
.pt30{padding-top:30px;}
.pt40{padding-top:40px;}
.pt50{padding-top:50px;}
.pt60{padding-top:60px;}
.pt70{padding-top:70px;}
.pt80{padding-top:80px;}
.pt90{padding-top:90px;}
.pt100{padding-top:100px;}
.pt120{padding-top:120px;}
.pt130{padding-top:130px;}
.pt140{padding-top:140px;}
.pt150{padding-top:150px;}
.pt160{padding-top:160px;}
.pt170{padding-top:170px;}
.pt180{padding-top:180px;}
.pt190{padding-top:190px;}
.pt200{padding-top:200px;}

.pb10{padding-bottom:10px;}
.pb20{padding-bottom:20px;}
.pb30{padding-bottom:30px;}
.pb40{padding-bottom:40px;}
.pb50{padding-bottom:50px;}
.pb60{padding-bottom:60px;}
.pb70{padding-bottom:70px;}
.pb80{padding-bottom:80px;}
.pb90{padding-bottom:90px;}
.pb100{padding-bottom:100px;}
.pb120{padding-bottom:120px;}
.pb130{padding-bottom:130px;}
.pb140{padding-bottom:140px;}
.pb150{padding-bottom:150px;}
.pb160{padding-bottom:160px;}
.pb170{padding-bottom:170px;}
.pb180{padding-bottom:180px;}
.pb190{padding-bottom:190px;}
.pb200{padding-bottom:200px;}

.pl10{padding-left:10px;}
.pl20{padding-left:20px;}
.pl30{padding-left:30px;}
.pl40{padding-left:40px;}
.pl50{padding-left:50px;}
.pl60{padding-left:60px;}
.pl70{padding-left:70px;}
.pl80{padding-left:80px;}
.pl90{padding-left:90px;}
.pl100{padding-left:100px;}
.pl120{padding-left:120px;}
.pl130{padding-left:130px;}
.pl140{padding-left:140px;}
.pl150{padding-left:150px;}
.pl160{padding-left:160px;}
.pl170{padding-left:170px;}
.pl180{padding-left:180px;}
.pl190{padding-left:190px;}
.pl200{padding-left:200px;}

.pr10{padding-right:10px;}
.pr20{padding-right:20px;}
.pr30{padding-right:30px;}
.pr40{padding-right:40px;}
.pr50{padding-right:50px;}
.pr60{padding-right:60px;}
.pr70{padding-right:70px;}
.pr80{padding-right:80px;}
.pr90{padding-right:90px;}
.pr100{padding-right:100px;}
.pr120{padding-right:120px;}
.pr130{padding-right:130px;}
.pr140{padding-right:140px;}
.pr150{padding-right:150px;}
.pr160{padding-right:160px;}
.pr170{padding-right:170px;}
.pr180{padding-right:180px;}
.pr190{padding-right:190px;}
.pr200{padding-right:200px;}
